---
# Copy this file to group_vars/all.yml and store secrets in ansible-vault.

aap_25_to_26_migration_old_rpm_host: old-aap-25.example.com
aap_25_to_26_migration_new_container_host: new-aap.example.com
aap_25_to_26_migration_old_installer_dir: /opt/ansible-automation-platform/installer
aap_25_to_26_migration_new_installer_dir: /opt/ansible-automation-platform/installer
aap_25_to_26_migration_deployment_type: single_node

aap_25_to_26_migration_controller_username: admin
aap_25_to_26_migration_controller_password: "{{ vault_controller_admin_password }}"
aap_25_to_26_migration_validate_certs: false

# Common installer vars
aap_25_to_26_migration_postgresql_admin_username: postgres
aap_25_to_26_migration_postgresql_admin_password: "{{ vault_postgresql_admin_password }}"
aap_25_to_26_migration_bundle_install: true
aap_25_to_26_migration_bundle_dir: "{{ lookup('ansible.builtin.env', 'PWD') }}/bundle"

# Registry
aap_25_to_26_migration_registry_url: registry.redhat.io
aap_25_to_26_migration_registry_username: "{{ vault_registry_user }}"
aap_25_to_26_migration_registry_password: "{{ vault_registry_password }}"

# Platform admin passwords
aap_25_to_26_migration_gateway_admin_password: "{{ vault_gateway_admin_password }}"
aap_25_to_26_migration_controller_admin_password: "{{ vault_controller_admin_password }}"
aap_25_to_26_migration_hub_admin_password: "{{ vault_hub_admin_password }}"
aap_25_to_26_migration_eda_admin_password: "{{ vault_eda_admin_password }}"

# Single-node password defaults
aap_25_to_26_migration_gateway_pg_password: "{{ vault_gateway_pg_password }}"
aap_25_to_26_migration_controller_pg_password: "{{ vault_controller_pg_password }}"
aap_25_to_26_migration_hub_pg_password: "{{ vault_hub_pg_password }}"
aap_25_to_26_migration_eda_pg_password: "{{ vault_eda_pg_password }}"

# Growth values (required when aap_25_to_26_migration_deployment_type: growth)
aap_25_to_26_migration_external_db_host: externaldb.example.org
aap_25_to_26_migration_gateway_pg_host: "{{ aap_25_to_26_migration_external_db_host }}"
aap_25_to_26_migration_gateway_pg_database: gateway
aap_25_to_26_migration_gateway_pg_username: "{{ vault_gateway_pg_username }}"
aap_25_to_26_migration_controller_pg_host: "{{ aap_25_to_26_migration_external_db_host }}"
aap_25_to_26_migration_controller_pg_database: controller
aap_25_to_26_migration_controller_pg_username: "{{ vault_controller_pg_username }}"
aap_25_to_26_migration_hub_pg_host: "{{ aap_25_to_26_migration_external_db_host }}"
aap_25_to_26_migration_hub_pg_database: hub
aap_25_to_26_migration_hub_pg_username: "{{ vault_hub_pg_username }}"
aap_25_to_26_migration_eda_pg_host: "{{ aap_25_to_26_migration_external_db_host }}"
aap_25_to_26_migration_eda_pg_database: eda
aap_25_to_26_migration_eda_pg_username: "{{ vault_eda_pg_username }}"
