[Unit]
Description=Deactivate Performance Degrading Transparent Hugepages (THP)
DefaultDependencies=no
After=sysinit.target local-fs.target
Before=postgresql.service redis.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo never > /sys/kernel/mm/transparent_hugepage/enabled && echo never > /sys/kernel/mm/transparent_hugepage/defrag'
RemainAfterExit=yes

[Install]
WantedBy=basic.target
