[defaults]
# Helps running playbooks from within the playbooks/ directory
inventory = ../inventories/production.ini
roles_path = ../roles

# Use the built-in default callback with YAML result format
stdout_callback = default

# Strict and consistent behavior
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
error_on_undefined_vars = True
any_errors_fatal = True
deprecation_warnings = True
command_warnings = True
bin_ansible_callbacks = True
callbacks_enabled = ansible.posix.profile_tasks, ansible.posix.timer
log_path = ../logs/ansible.log
display_failed_stderr = True
timeout = 15

[callback_default]
result_format = yaml

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False
